:root{
    --font-size-tittle: 70px;
    --font-size-text: 30px;
    --text-color: #ffffff;
}

.body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first-section {
    background-image: url(https://res.cloudinary.com/duiwgaaxh/image/upload/v1765055766/Iglesia_hvgwno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tittle {
    font-size: var(--font-size-tittle);
    color: var(--text-color);
    width: 50%;
    text-align: center;
    margin: 0;
}

.text {
    font-size: var(--font-size-text);
    color: var(--text-color);
    text-align: center;
    width: 60%;
}